<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata Microservice</h1>
         <h3>Upload a file, and the website will respond with its file size in bytes.</h3>
      </div>
     	<form enctype="multipart/form-data" method="post" action="/upload">
        <input type="file" name="userFile" required />
        <input type="submit"  value="Upload File" />
      </form>
   </body>

</html>
